section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.spring{
  color: rgba(255, 124, 124, 0.781);
  background-image: url("../items_image/background/Spring.jpg");
}

.summer{
  color: rgba(124, 255, 248, 0.781);
  background-image: url("../items_image/background/Summer.jpg");
}

.autumn{
  color: rgba(165, 113, 0, 0.781);
  background-image: url("../items_image/background/Autumn.jpg");
}

.winter{

}

.area {
  scroll-snap-align: end;
  height: 100vh;
}

.title{
  font-family: 'Lobster', cursive;
  font-size: 10rem;
}